<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>WPM</th>
                <th>Accuracy</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row['Date'] }}</td>
                <td>{{ row['Time'] }}</td>
                <td>{{ row['WPM'] }}</td>
                <td>{{ row['Accuracy'] }}</td>
                <td>{{ row['User'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
